*{
    padding: 0 auto;
    margin: 0 auto;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#65da65da,#a52a2ab9),url("img/thomas-griggs-ePawbzW56eo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 1px;

}

a{
    text-decoration: none;
    font-size: 50px;
    color: white;
    background-color: violet;
    display: block;
    width: max-content;
    /* margin-top: 50vh;
} */